/*Link color*/
.ql-snow a {  
    color: var(--primaryDark);
}

/*Change checkbox color*/
input.boolean-cell-editor-contents {
  accent-color: var(--primaryDark);
}

.aimms-widget .ui-button {
  text-transform: uppercase;
}

/*Changing tittle to be uppercase*/
.title-addon,
.ui-dialog .ui-dialog-title,
.page-container__dialog-header .title{
  text-transform: uppercase;
  text-shadow: 2px 2px 0px var(--primaryDark);
  color: whitesmoke;
}

