:root {
/*---------------------------------------------------------------------
        COLORS
----------------------------------------------------------------------*/
  --secondaryLight: #00E700;
  --secondary: #00D400;
  --secondaryDark: #009B00;
  --primaryDark: #000081;
  --primary: #004BFF;
  --primaryLight: #0092D1;

/*---------------------------------------------------------------------
        HEADER
----------------------------------------------------------------------*/  
  --bg_app-logo: 15px 50% / 30px no-repeat url(/app-resources/resources/images/data-lake.png); /*app logo*/
  --spacing_app-logo_width: 45px;
  --color_border_app-header-divider: var(--primaryDark); /*line color after header*/
  --color_bg_app-canvas: url(/app-resources/resources/images/RightBackground.png) rgb(249, 249, 249) no-repeat left/contain; /*background color*/

/*---------------------------------------------------------------------
        WORKFLOW
----------------------------------------------------------------------*/
  --color_bg_workflow_current: var(--primaryDark); /*bg color when step is selected*/
  --color_workflow-icon-border: var(--primaryDark); 
  --color_bg_workflow-icon: white; 
  --color_workflow_active: var(--primaryDark); /*font and icon color when step is active*/
  --color_workflow_current: white; /*icon and font color*/
  --color_workflow-item-divider: var(--primary); /*color between steps*/

/*---------------------------------------------------------------------
        WIDGET
----------------------------------------------------------------------*/ 
  --color_bg_widget-header: var(--primary); /*widget header background color*/
  --border_widget-header: 3px solid var(--primaryDark); /*line color after widget header*/

/*---------------------------------------------------------------------
        FONT COLOR
----------------------------------------------------------------------*/ 
  --color_text_edit-select-link: var(--primaryDark);
  --color_text_edit-select-link_hover: var(--primary);
  --color_text_widget-header: whitesmoke; 

/*---------------------------------------------------------------------
        BUTTONS
----------------------------------------------------------------------*/
  --color_bg_button_primary: var(--primaryDark);
  --color_bg_button_primary_hover: var(--primaryLight);

  --border_button_secondary_hover: 1px solid var(--secondaryDark);
  --color_text_button_secondary_hover: white;
  --color_bg_button_secondary_hover: var(--secondaryDark);
  --color_text_button_secondary: var(--secondaryDark);
  --border_button_secondary: 1px solid var(--secondaryDark);  

}


.title-addon { text-shadow: 2px 2px 0px var(--primaryDark); }
